<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style=" margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">用户姓名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="fusername" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon " ></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm data-add-btn" lay-event="add"><span class="layui-icon layui-icon-add-1"></span> 添加管理员 </button>
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"><span class="layui-icon layui-icon-delete"></span> 批量删除管理员 </button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-xs data-count-edit" lay-event="edit"><span class="layui-icon layui-icon-edit"></span>更新</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete"><span class="layui-icon layui-icon-delete"></span>删除</a>
        </script>

    </div>
</div>

<script>
    layui.use(['form', 'table','miniPage','element','util'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            miniPage = layui.miniPage;
            util=layui.util;

        table.render({
            elem: '#currentTableId',
            url: 'admin/selectAll',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [ [
                {type: "checkbox", fixed: "left"},
                {field: 'fid', align: 'center',title: 'ID'},
                {field: 'fname', align: 'center', title: '用户名'},
                {field: 'fusername',  align: 'center',title: '姓名'},
                {field: 'fstate_string', align: 'center', title: '状态'},
                {field: 'ftype_string', align: 'center',title: '类型'},
                {field: 'froleid_string', align: 'center', title: '角色'},
                {field: 'fcreatetime', align: 'center', title: '创建时间',templet: function (d) {
                        return util.toDateString(d.fcreatetime, "yyyy-MM-dd HH:mm:ss")
                    }},
                {title: '操作',  toolbar: '#currentTableBar', fixed: "right", align: "center"}
            ] ],

            page: true,
            request: {
                pageName: 'page' // 页码的参数名称，默认：page
                , limitName: 'size' //每页数据量的参数名，默认：limit
            },
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            //执行搜索重载
            table.reload('currentTableId', {
                url:'admin/selectAll'
                ,where:data.field,
            }, 'data');

            return false;

        });
        /**
         * toolbar事件监听
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {   // 监听添加操作
                var content = miniPage.getHrefContent('admin/goAdd');
                var openWH = miniPage.getOpenWidthHeight();

                var index = layer.open({
                    title: '添加用户',
                    type: 1,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: [openWH[0] + 'px', openWH[1] + 'px'],
                    offset: [openWH[2] + 'px', openWH[3] + 'px'],
                    content: content,
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'delete') {  // 监听删除操作
                var checkStatus = table.checkStatus('currentTableId');
                var dataLength=checkStatus.data.length;
                if(dataLength>0){
                    layer.confirm('你确定要删除这些客户数据吗?',function(index){
                        var data=checkStatus.data; //获取选中行的数据
                        var ids="";
                        //layer.alert("数据"+JSON.stringify(data))
                        $.each(data,function(index,item){
                            if(index==0){
                                ids+="ids="+item.fid;
                            }else{
                                ids+="&ids="+item.fid;
                            }
                        });
                        //layer.alert("数据"+JSON.stringify(ids))
                        $.post("/admin/batchDeleteFAdmin",ids,function(res){
                            layer.msg(res.msg);
                            //执行数据重载
                            table.reload('currentTableId', {
                                url:'admin/selectAll'
                                ,where:data.field,
                            }, 'data');
                        });

                    });
                }else{
                    layer.msg("请选中操作行")
                }

                //layer.alert(JSON.stringify(data));
            }
        });


        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });



        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {

                var content = miniPage.getHrefContent('admin/goEdit?fid='+data.fid);
                var openWH = miniPage.getOpenWidthHeight();

                var index = layer.open({
                    title: '编辑用户',
                    type: 1,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: [openWH[0] + 'px', openWH[1] + 'px'],
                    offset: [openWH[2] + 'px', openWH[3] + 'px'],
                    content: content,
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            } else if (obj.event === 'delete') {
                layer.confirm('真的删除该管理员吗？', function (index) {
                    $.post("/admin/deleteAdmin?fid="+data.fid,function(res){
                        layer.msg(res.msg);
                    });
                    //执行数据重载
                    table.reload('currentTableId', {
                        url:'admin/selectAll'
                        ,where:data.field,
                    }, 'data');
                });
            }
        });

    });
</script>