<div class="layui-form" lay-href="question/updateQuestion" xmlns:th="http://www.thymeleaf.org" >
    <div class="layuimini-main">
        <fieldset class="layui-elem-field layui-field-title">
            <legend>修改问答</legend>
        </fieldset>
        <div class="layui-form-item">
            <input type="hidden" name="fid" th:value="${question.fid}">
            <label class="layui-form-label required">标题</label>
            <div class="layui-input-block">
                <textarea name="ftitle" th:text="${question.ftitle == null ? '':question.ftitle}"   lay-verify="required" lay-reqtext="标题不能为空" class="layui-textarea" placeholder="请输入标题"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">描述</label>
            <div class="layui-input-block">
                <textarea name="fdescription" th:text="${question.fdescription == null ? '':question.fdescription}" lay-verify="required" lay-reqtext="描述不能为空" class="layui-textarea" placeholder="请输入描述"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">推荐类型</label>
            <div class="layui-input-block">
                <input type="radio" name="ftype" value="1" title="正常" checked="checked">
                <input type="radio" name="ftype" value="2" title="推荐">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">赞数量</label>
            <div class="layui-input-block" style="width: 80px;">
                <input type="number" name="fpraise"  th:value="${question.fpraise}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">浏览量</label>
            <div class="layui-input-block" style="width: 80px;">
                <input type="number" name="fpv" th:value="${question.fpv}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" >
            <label class="layui-form-label required">最佳回答ID</label>
            <div class="layui-input-block" style="width: 80px;">
                <input type="number" name="fbastanid"   th:value="${question.fbastanid}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">最佳回答</label>
            <div class="layui-input-block">
                <textarea name="fbastan" class="layui-textarea" th:text="${question.fbastan == null ? '':question.fbastan}" placeholder="请输入最佳回答信息"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="saveBtn">确认保存</button>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery
            , layedit = layui.layedit
            , laydate = layui.laydate;
        /**
         * 初始化表单，要加上，不然刷新部分组件可能会不加载
         */
        form.render();

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });

        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //自定义验证规则
        form.verify({
            title: function (value) {
                if (value.length < 5) {
                    return '标题至少得5个字符';
                }
            }
            , pass: [
                /^[\S]{6,12}$/
                , '密码必须6到12位，且不能出现空格'
            ]
            , content: function (value) {
                layedit.sync(editIndex);
            }
        });

        //监听指定开关
        form.on('switch(switchTest)', function (data) {
            layer.msg('开关checked：' + (this.checked ? 'true' : 'false'), {
                offset: '6px'
            });
            layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
        });

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            layui.jquery.ajax({
                url:'question/updateQuestion',
                method:'POST',
                data:data.field,
                dataType:'json',
                success:function(res){
                    if(res.code==200){
                        //parent.closeIframe(res.msg);
                        layer.alert(res.msg, { icon: 1, closeBtn: 0 }, function (index) {
                            //关闭弹窗
                            //layer.close(index);
                            layui.miniPage.refresh(parent.layer);
                            layer.closeAll();
                        });
                    }
                    else
                    {
                        layer.alert(res.msg, { icon: 2, closeBtn: 0 }, function (index) {
                            //关闭弹窗
                            //layer.close(index);
                            layui.miniPage.refresh(parent.layer);
                            layer.closeAll();
                        });
                    }

                    //layer.close(parent.layer.index);
                },
                error:function (data) {

                }
            });
            return false;
        });

    });
</script>