<div class="layui-form" lay-href="security/updateSecurity" xmlns:th="http://www.thymeleaf.org" >
    <div class="layuimini-main">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
            <legend>修改权限</legend>
        </fieldset>
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">权限名称</label>
                <div class="layui-input-block">
                    <input type="text" th:value="${security.fname}" name="fname" lay-verify="title" autocomplete="off" placeholder="权限名称" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">权限URL</label>
                <div class="layui-input-block">
                    <input type="text" th:value="${security.furl}" name="furl" lay-verify="required" lay-reqtext="权限URL" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">权限排序</label>
                <div class="layui-input-inline">
                    <input type="text" th:value="${security.forder == null ? 1 : security.forder}" name="forder" lay-verify="number" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">权限描述</label>
                <div class="layui-input-block">
                    <textarea th:text="${security.fdescription == null ? '':security.fdescription}" placeholder="请输入描述" name="fdescription" class="layui-textarea" ></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="demo1">保存提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;
        /**
         * 初始化表单，要加上，不然刷新部分组件可能会不加载
         */
        form.render();

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });

        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //自定义验证规则
        form.verify({
            title: function (value) {
                if (value.length < 5) {
                    return '标题至少得5个字符';
                }
            }
            , pass: [
                /^[\S]{6,12}$/
                , '密码必须6到12位，且不能出现空格'
            ]
            , content: function (value) {
                layedit.sync(editIndex);
            }
        });

        //监听指定开关
        form.on('switch(switchTest)', function (data) {
            layer.msg('开关checked：' + (this.checked ? 'true' : 'false'), {
                offset: '6px'
            });
            layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
        });

        //监听提交
        form.on('submit(demo1)', function (data) {
            layui.jquery.ajax({
                url:'security/updateSecurity',
                method:'POST',
                data:data.field,
                dataType:'json',
                success:function(res){
                    if(res.code==200){
                        //parent.closeIframe(res.msg);
                        layer.alert(res.msg, { icon: 1, closeBtn: 0 }, function (index) {
                            //关闭弹窗
                            //layer.close(index);
                            layui.miniPage.refresh(parent.layer);
                            layer.closeAll();
                        });
                    }
                    else
                    {
                        layer.alert(res.msg, { icon: 2, closeBtn: 0 }, function (index) {
                            //关闭弹窗
                            //layer.close(index);
                            layui.miniPage.refresh(parent.layer);
                            layer.closeAll();
                        });
                    }

                    //layer.close(parent.layer.index);
                },
                error:function (data) {

                }
            });
            return false;
        });


    });
</script>